# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/apps/front/node_modules
/apps/front/.pnp
/apps/front/.pnp.*
/apps/front/.yarn/*
/apps/front/!.yarn/patches
/apps/front/!.yarn/plugins
/apps/front/!.yarn/releases
/apps/front/!.yarn/versions
/apps/back/node_modules
/apps/back/.pnp
/apps/back/.pnp.*
/apps/back/.yarn/*
/apps/back/!.yarn/patches
/apps/back/!.yarn/plugins
/apps/back/!.yarn/releases
/apps/back/!.yarn/versions


# testing
/coverage

# next.js
/.next
/out

# production
/apps/front/build

# misc
.DS_Store
*.pem

# debug
/apps/front/npm-debug.log*
/apps/front/yarn-debug.log*
/apps/front/yarn-error.log*
/apps/front/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/apps/front/.env*
/apps/back/.env*

# vercel
/apps/front/vercel

# typescript
*.tsbuildinfo
/apps/front/next-env.d.ts
